@page "/users"
@inject NavigationManager NavigationManager
@inject IUserService UserService

<h3>Users</h3>

<br />

@if(UserService.Users == null)
{
    <span>Loading...</span>
}
else
{
    <MudDataGrid Items="@UserService.Users" MultiSelection="true" SortMode="SortMode.Multiple" Filterable="true" Hideable="true">
        <ToolBarContent>
            <MudText>Users</MudText>
        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="x => x.Name" Title="Name"></PropertyColumn>
            <PropertyColumn Property="x => x.Surname" Title="Surname"></PropertyColumn>
            <PropertyColumn Property="x => x.Email" Title="E-mail"></PropertyColumn>
            <PropertyColumn Property="x => x.PhoneNumber" Title="Phone number"></PropertyColumn>
            <PropertyColumn Property="x => x.TaxNumber" Title="Tax number"></PropertyColumn>
            <PropertyColumn Property="x => x.Group.Name" Title="Group"></PropertyColumn>
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudStack Row>
                        <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary" OnClick="(() => GoToUser(context.Item.Id))">Edit</MudButton>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>

    <br />
    <br />

    <MudDataGrid Items="@UserService.Users" MultiSelection="true" SortMode="SortMode.Multiple" Filterable="true" Hideable="true">
        <ToolBarContent>
            <MudText>Users DTO</MudText>
        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="x => x.Name" Title="Name"></PropertyColumn>
            <PropertyColumn Property="x => x.Surname" Title="Surname"></PropertyColumn>
            <PropertyColumn Property="x => x.Email" Title="E-mail"></PropertyColumn>
            <PropertyColumn Property="x => x.PhoneNumber" Title="Phone number"></PropertyColumn>
            <PropertyColumn Property="x => x.Group.Name" Title="Group"></PropertyColumn>
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudStack Row>
                        <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary" OnClick="(() => GoToUser(context.Item.Id))">Edit</MudButton>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>

    <br />
    <br />
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await UserService.GetUsers();
    }

    private void GoToUser(int id)
    {
        NavigationManager.NavigateTo($"user/{id}");
    }
}
